// 此自定义uView主题生成于2022-03-14 23:45
// 地址：http://www.uviewui.com/guide/theme.html

$u-main-color: #303133;
$u-content-color: #606266;
$u-tips-color: #909193;
$u-light-color: #c0c4cc;
$u-border-color: #e4e7ed;
$u-bg-color: #f3f4f6;
$u-disabled-color: #c8c9cc;

$u-primary: #f04a82;
$u-primary-dark: #ef457f;
$u-primary-disabled: #f17da4;
$u-primary-light: #fee2eb;

$u-warning: #ff9900;
$u-warning-dark: #f29100;
$u-warning-disabled: #fcbd71;
$u-warning-light: #fdf6ec;

$u-success: #19be6b;
$u-success-dark: #18b566;
$u-success-disabled: #71d5a1;
$u-success-light: #dbf1e1;

$u-error: #fa3534;
$u-error-dark: #dd6161;
$u-error-disabled: #fab6b6;
$u-error-light: #fef0f0;

$u-info: #909399;
$u-info-dark: #82848a;
$u-info-disabled: #c8c9cc;
$u-info-light: #f4f4f5;

$u-form-item-border-color: #dcdfe6;
$u-form-item-height: 70rpx;
